@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --main-color: #0078be;
  --second-color: #646464;
  --text-color: #7a7a7a;
  --black-color: #212121;
  --main-transition: 0.5s;
  --bg-white: #ffffff;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
::selection {
  background-color: var(--main-color);
  color: var(--bg-white);
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column {
  flex-direction: column;
}
.t-center {
  text-align: center;
}

.flex {
  display: flex;
}
.flex-items {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h2 {
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 1.6;
}
.rounded {
  border-radius: 4px;
}
.btn-primary {
  background-color: var(--main-color);
  color: var(--bg-white);
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}

.hero {
  background-image: url("../assets/slide2.jpg");
  height: 120vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero-one {
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.hero .title {
  margin-top: 1rem;
  font-family: "TheMixBlack-Caps", Sans-serif;
}
.hero-one .t-one {
  text-align: center;
}
.hero h2 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 40px;
  color: var(--bg-white);
  font-family: "TheMixBlack-Caps", Sans-serif;
}
header {
  height: 158.5px;
  background-color: transparent;
  padding: 20px 0;
  position: sticky;
  top: 0;
}
header .container {
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.nav {
  text-align: center;
}

header .main-nav {
  height: 39.19px;
}

header .main-nav .nav-item {
  border-radius: 6px;
  height: 100%;
}
header .main-nav .nav-item:hover {
  background-color: rgba(237, 231, 225, 0.2);
}
header .main-nav .nav-link {
  font-family: "TheMixSemiBold-Plain";
  color: var(--bg-white);
  text-transform: uppercase;
  font-size: 0.85rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  font-family: TheMixSemiBold-Plain, Helvetica, Arial, sans-serif;
  height: 100%;
  gap: 5px;

  border-radius: 6px;
  margin: 10px;
  cursor: pointer;
  font-weight: bold;
}
header .main-nav .nav-link i {
  font-size: 10px;
}
header .nav-lists .nav-item:last-child {
  border-radius: 20px;
  background-color: var(--main-color);

  header .nav-lists .nav-item:last-child a {
    color: var(--bg-white);
  }
}
.burger {
  color: white;
  font-size: 20px;
}
.icon {
  display: none;
}
.title {
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

header .has-mega {
  position: relative;
}
header .mega-menu {
  background-color: var(--bg-white);
  padding: 20px 10px;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 6px;
  z-index: 100;
  display: none;
  transition: var(--main-transition);
}
header .has-mega:hover .mega-menu {
  display: block;
}
header .has-mega .mega li a {
  font-size: 12px;
  color: var(--black-color);
  font-weight: 600;
}
header .has-mega .mega li {
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
}
header .has-mega .mega li:hover {
  background-color: rgba(237, 231, 225, 0.3);
}
header .has-mega .mega {
  gap: 0.7rem;
  align-items: flex-start;
}

header .has-mega-2 {
  position: relative;
}
header .has-mega-2 .mega-2 li {
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 5px;
}
header .has-mega-2 .mega-2 li:hover {
  background-color: rgba(237, 231, 225, 0.3);
}
header .mega-menu-2 {
  background-color: var(--bg-white);
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 80%;

  border-radius: 6px;
  z-index: 1001;
  display: none;
  transition: var(--main-transition);
}
header .has-mega-2:hover .mega-menu-2 {
  display: block;
}
header .has-mega-2 .mega-2 li a {
  font-size: 12px;
  color: var(--black-color);
  font-weight: 600;
}
header .has-mega-2 .mega-2 {
  gap: 0.7rem;
  align-items: flex-start;
}

/* foundations sections */
.foundations {
  background-color: #f5f5f5;
  padding: 2rem;
}
.foundations .title {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.foundations .title h2 {
  font-size: 40px;
}

.foundations .cards {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}
.foundations .cards .card {
  background-color: var(--bg-white);
  padding: 20px 30px;

  width: 18%;
  min-width: 100px;
  border-radius: 0.35rem;

  gap: 10px;
}
.foundations .cards .card:nth-child(1):hover,
.foundations .cards .card:nth-child(2):hover,
.foundations .cards .card:nth-child(3):hover {
  background-color: rgba(0, 120, 190, 0.2);
}
.foundations .cards .card:nth-child(4):hover {
  background-color: rgba(76, 187, 23, 0.2);
}
.foundations .cards .card:last-child:hover {
  background-color: rgba(200, 0, 0, 0.1);
}

.sec-card {
  flex-direction: column;
  display: flex;
}
.pic {
  text-align: center;
  overflow: hidden;
  height: 80px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
.pic img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.foundations .cards .card h2 {
  text-align: center;
  font-size: 15px;
  margin-top: 0.5rem;
}
.foundations .card p {
  font-size: 15px;
  font-weight: bold;
  color: var(--text-color);
}

/* vision section  */
.vision {
  background-color: var(--text-color);
  padding: 2rem 2rem 3rem 2rem;
}
.vision h2 {
  color: var(--bg-white);
  font-size: 30px;
}
.vision .image {
  width: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.vision .image img {
  max-width: 100%;
}

/* community section 
 */
.community {
  padding-bottom: 2rem;
}
.community .infos {
  gap: 40px;
  flex-wrap: wrap;
}
.community .title h2 {
  font-size: 40px;
  font-weight: bold;
}
.community .infos .image {
  width: 33%;
  overflow: hidden;
}
.community .image img {
  max-width: 100%;
}
.community .boxes {
  gap: 20px;
  flex-wrap: wrap;
}
.community .box {
  padding: 30px 30px 10px 30px;
  background-image: url("../assets/bg-icon.png");

  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 230px;
  height: 550px;
  border-radius: 0.3rem;

  transition: var(--main-transition);
}
.community .box:hover {
  transform: translateY(-10px);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}
.community .inner-box {
  flex-direction: column;
  /* gap: 10px; */
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.community .top ul li svg {
  font-size: 1em;
  font-weight: bold;
}
.know {
  bottom: 0;
}
.know button {
  padding-left: 30px;
  padding-right: 30px;
}
.inner-box h2 {
  font-size: 20px;
}
.inner-box ul li {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}
.inner-box ul li span:nth-child(2) {
  line-height: 1.5;
}
.community .images {
  gap: 10px;

  text-align: center;
}

.community .bottom {
  flex-direction: column;
  gap: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  align-items: center;
}
.bottom p {
  transform: translateX();
  font-size: 16px;
}
.bottom .images {
  gap: 4rem;
}
.bottom .img {
  border-radius: 6px;
  overflow: hidden;
  width: 220px;
  cursor: pointer;
}
.community .images .img img {
  max-width: 100%;
  width: 100%;
}
.community .bottom p {
  font-weight: bold;
  color: var(--text-color);
}

/* hub sections  */
.hub {
  background-image: url("../assets/parallax-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  padding: 2rem;
  position: relative;
}
.hub .title h2 {
  font-weight: bold;
  font-size: 30px;
}

.hub .all {
  position: relative;
  z-index: 10;
}

.sections {
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}
.sections .section {
  flex-direction: column;
  width: 22%;
}
.sections .section .count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .section:nth-child(2) .cl h1 {
  color: #21212100;
  font-family: "TheMixBlack-Caps", Sans-serif;
  font-size: 35.1px;
  font-weight: 400;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #e13870;
  stroke: #e13870;
}
.section:nth-child(1) .cl h1 {
  color: #21212100;
  font-family: "TheMixBlack-Caps", Sans-serif;
  font-size: 35.1px;
  font-weight: 400;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #009a9e;
  stroke: #009a9e;
}
.section:nth-child(3) h1 {
  color: #21212100;
  font-family: "TheMixBlack-Caps", Sans-serif;
  font-size: 35.1px;
  font-weight: 400;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #0078be;
  stroke: #0078be;
}
.section:nth-child(4) h1 {
  color: #21212100;
  font-family: "TheMixBlack-Caps", Sans-serif;
  font-size: 35.1px;
  font-weight: 400;
  -webkit-text-stroke-width: 2px;
  stroke-width: 2px;
  -webkit-text-stroke-color: #00802d;
  stroke: #00802d;
} */

.sections .section h2 {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}
.sections .section:nth-child(1) h2 {
  margin-top: 30px;
}
.sections .section:nth-child(2) h2 {
  margin-top: 30px;
}
.sections .section .count .stars {
  width: fit-content;
  display: flex;
  align-items: center;
}
.sections .section .count .stars i {
  font-size: 20px;
  color: var(--main-color);
}
.sections .section .count .stars i:nth-child(2) {
  transform: translateY(-10px);
}

/* trending section  */
.trending {
  background-image: url("../assets/bg-icon-empty.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(211, 211, 211, 0.3);
  padding: 20px;
}
.trending .title {
  font-weight: bold;
  font-size: 25px;
}
.carousels {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  position: relative;
}
.carousels .to-left,
.carousels .to-right {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-color);
  height: 30px;

  width: 30px;
}
.carousels .to-left {
  left: -7px;
}
.carousels button {
  outline: none;
  border: none;
  cursor: pointer;
}
.carousels button i {
  color: var(--bg-white);
  font-weight: bold;
}
.carousels .to-right {
  right: -22px;
}
.carousel {
  width: 350px;
  background-color: var(--bg-white);
}
.carousel .image {
  width: 100%;
}
.carousel .image img {
  max-width: 100%;
}
.carousel .car-content h2 {
  padding: 10px;
}
.carousel .car-content p {
  padding: 10px 0 0 10px;
}
.swipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}
.swipe .swipe-points {
  display: flex;
  gap: 10px;
}
.swipe .swipe-points > span {
  width: 6px;
  height: 6px;
  border-radius: 50%;

  background-color: var(--text-color);
}
.swipe .swipe-points span:nth-child(3) {
  background-color: var(--black-color);
}
.swipe button a {
  color: var(--bg-white);
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
}
/* few words  */
.few-words {
  background-color: var(--bg-white);
  padding: 4rem;
}
.few-words .content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  gap: 0.2rem;
}

.few-words .title h2 {
  font-weight: bold;
  font-size: 30px;
}
.few-words .word {
  gap: 10px;
}
.words {
  flex-direction: column;
}

.few-words .word-1 {
  width: 280px;
  position: relative;
  background-color: black;

  overflow: hidden;
  z-index: 10;
}

.few-words .word-1 img {
  max-width: 100%;
  height: 100%;
}

.word-1 .over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.5);

  z-index: 100;
  transform: translateY(100%);
  cursor: pointer;

  transition: var(--main-transition);
}
.word-1 .over {
  z-index: 1999;
}
.few-words .word-1:hover .over {
  transform: translateY(0);
}
.over h3 a {
  position: relative;
  z-index: 102;
  color: var(--bg-white);
}
.few-words .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}
.words .dots > span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
}
.words .dots > span:nth-child(3) {
  background-color: black;
}

/* footer  */

footer .container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}
footer {
  padding: 3rem;
  background-color: #212121;
  margin-top: 2rem;
  padding-bottom: 20px;
}

footer .ok {
  margin-top: -10px;
  margin-bottom: 20px;
}
footer .columns .col:nth-child(2) {
  margin-top: 30px;
}
footer .columns .col:nth-child(3) {
  margin-top: 30px;
}
footer .columns .col h2 {
  font-size: 15px;
  color: var(--text-color);
}
footer .columns ul {
  gap: 15px;
}
footer .columns ul li {
  margin-left: 20px;
}
footer .columns ul li a {
  color: var(--bg-white);
}
footer .columns {
  justify-content: space-between;
  gap: 50px;
}

.item {
  gap: 10px;
}
.item div {
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.item div img {
  max-width: 100%;
  max-height: 100%;
}
.small {
  font-size: 10px;
}
footer ul li a {
  border-bottom: 2px solid transparent;
  transition: var(--main-transition);
}
footer a:hover {
  border-bottom: 2px solid var(--main-color);
}
.final {
  gap: 10px;
}

footer .reserve {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  flex-wrap: wrap;
}
footer .reserved small {
  color: var(--second-color);
}
footer .reserved small a {
  color: var(--main-color);
  border-bottom: 1px solid transparent;
  transition: var(--main-transition);
}
footer .reserved small a:hover {
  border-bottom: 1px solid var(--main-color);
}
footer .fa-envelope {
  color: var(--main-color);
  margin-right: 4px;
}
footer .fa-phone {
  color: var(--main-color);
  margin-right: 4px;
}
footer .social {
  gap: 20px;
}
footer .social i {
  font-size: 20px;
  cursor: pointer;
}
footer .social i:hover {
  color: var(--bg-white);
}
.ok h2 {
  font-size: 20px;
}

/* media queries */
@media (max-width: 921px) {
  header .container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
  }
  .community .image {
    display: none;
  }
  .nav {
    display: none;
  }
  header .icon {
    display: block;
  }
  header .icon i {
    font-size: 30px;
  }
  .hero {
    height: 60vh;
  }

  .hero-one {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .hero-one h2 {
    font-size: 30px;
  }
  .hero-one .title {
    margin-top: 0;
  }
}
@media (max-width: 1025px) {
  .foundations .cards {
    flex-wrap: wrap;
  }
}
@media (min-width: 921px) and (max-width: 1279px) {
  header .container {
    width: 95%;
    gap: 5px;
  }
  .nav-brand {
    width: 70px;
  }
  .main-nav .nav-item .nav-link {
    font-size: 0.75rem;
    gap: 0px;
  }
}

/* medium */
@media (min-width: 769px) and (max-width: 921px) {
  .foundations {
    padding: 0 0 1rem 0;
  }
  .foundations .cards {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    gap: 1rem;
    justify-content: space-between;
  }
  .foundations .cards .card {
    height: 400px;
    width: 31%;
  }
  .foundations .cards .card:nth-child(4),
  .foundations .cards .card:nth-child(5) {
    width: 46%;
  }

  .community .boxes .box {
    width: 45%;
    height: 400px;
  }

  .community .infos {
    width: 100%;
    margin-left: 30px;
  }
  .hub .sections {
    width: 90%;
  }
  .hub .section {
    width: 20%;
  }
  .trending .carousel:nth-child(2),
  .trending .carousel:nth-child(3) {
    display: none;
  }

  .trending .carousels {
    width: 95%;
  }
  .trending .carousels .carousel {
    width: 100%;
  }
  .trending .carousels .carousel img {
    width: 100%;
  }
  .few-words {
    padding: 0;
  }
  .few-words .content {
    flex-direction: column;
    width: 95%;
  }
  .few-words .content h2 {
    display: flex;
    justify-content: flex-start;
  }
  .few-words .content .word-1:last-child {
    display: none;
  }
  .few-words .content .word-1 {
    width: 50%;
  }

  /* footer  */
  footer {
    padding: 30px 3px;
  }
  footer .container {
    width: 100%;
  }
  footer .columns {
    width: 100%;
    gap: 5px;
  }
  footer .col {
    width: 200px;
  }
  footer .col ul li {
    font-size: 15px;
  }
}

/* mobile */
@media (max-width: 768px) {
  header .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .foundations {
    background-color: rgba(211, 211, 211, 0.3);
    padding: 1rem;
  }
  .foundations .title {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .foundations .title h2 {
    font-size: 30px;
  }

  .foundations .cards {
    flex-direction: column;
    gap: 20px;

    padding: 0 10px;
  }
  .foundations .cards .card {
    background-color: var(--bg-white);
    padding: 20px 30px;

    width: 100%;
    /* flex: 1; */
    gap: 10px;
    min-width: 100px;
  }

  /* vision section  */
  .vision {
    background-color: var(--text-color);
    padding: 2rem 2rem 3rem 2rem;
  }
  .vision h2 {
    color: var(--bg-white);
    font-size: 30px;
  }
  .vision .image {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .vision .image img {
    max-width: 100%;
    max-height: 100%;
  }

  /* community section 
 */
  .community {
    padding-bottom: 2rem;
  }
  .community .infos {
    gap: 40px;
    flex-direction: column;
  }
  .community .infos .image {
    display: none;
  }
  .community .title h2 {
    font-size: 30px;
    font-weight: bold;
  }

  .community .boxes {
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .community .box {
    padding: 30px 30px 10px 30px;

    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
  }
  .community .inner-box {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .inner-box h2 {
    font-size: 20px;
  }
  .inner-box ul li {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
  }
  .inner-box ul li span:nth-child(2) {
    line-height: 1.5;
  }
  .community .images {
    gap: 10px;

    text-align: center;
  }

  .community .bottom {
    flex-direction: column;
    gap: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .bottom .img {
    border-radius: 6px;
    overflow: hidden;
    width: 150px;
    cursor: pointer;
  }

  .community .images .img img {
    max-width: 100%;
    width: 100%;
  }
  .community .bottom p {
    font-weight: bold;
    color: var(--text-color);
    font-size: 16px;
  }

  /* hub sections  */
  .hub {
    background-image: url("../assets/beirut-lebanon-04082018-downtown-old-600nw-2144510637.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    padding: 2rem;
    position: relative;
  }
  .hub .title h2 {
    font-weight: bold;
  }
  .hub .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
  }
  .hub .all {
    position: relative;
    z-index: 10;
  }
  .cl {
    transform: translateY(15px);
  }
  .sections {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
  }
  .sections .section {
    width: 100%;
  }

  /* trending section  */
  .trending {
    background-color: #d5d5d5;
    padding: 10px;
  }
  .trending .title {
    font-weight: bold;
    font-size: 25px;
  }
  .none {
    display: none;
  }
  .carousels {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    position: relative;
  }
  .carousels .to-left,
  .carousels .to-right {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    height: 30px;

    width: 30px;
  }
  .carousels .to-left {
    left: -7px;
  }
  .carousels button {
    outline: none;
    border: none;
    cursor: pointer;
  }
  .carousels button i {
    color: var(--bg-white);
    font-weight: bold;
  }
  .carousels .to-right {
    right: -22px;
  }
  .carousel {
    width: 350px;
    background-color: var(--bg-white);
  }
  .carousel .image {
    width: 100%;
  }
  .carousel .image img {
    max-width: 100%;
  }
  .carousel .car-content h2 {
    padding: 10px;
  }
  .carousel .car-content p {
    padding: 10px 0 0 10px;
  }
  .swipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }
  .swipe .swipe-points {
    display: flex;
    gap: 10px;
  }
  .swipe .swipe-points > span {
    width: 8px;
    height: 8px;
    border-radius: 50%;

    background-color: var(--text-color);
  }
  .swipe button a {
    color: var(--bg-white);
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
  }

  /* few words  */
  .few-words {
    padding: 0rem;
  }
  .few-words .content {
    width: 95%;

    flex-direction: column;
    align-items: center;
  }

  .few-words .title h2 {
    font-weight: bold;
    font-size: 25px;
  }

  /* footer  */
  footer .container {
    width: 100%;
  }
  footer {
    background-color: #212121;
    padding: 0 5px;
    margin-top: 2rem;
  }

  footer .ok {
    margin-top: 0;
    border-bottom: 1px solid var(--second-color);
    padding: 10px 0;
    color: var(--text-color);
  }
  footer .columns {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }
  footer .columns .col:nth-child(2) {
    margin-top: 30px;
  }
  footer .columns .col:nth-child(3) {
    margin-top: 30px;
  }
  footer .columns .col h2 {
    font-size: 20px;
    color: var(--text-color);
  }
  footer .columns ul {
    gap: 20px;
  }

  footer .columns ul li a {
    color: var(--bg-white);
  }
  footer .columns {
    justify-content: space-between;
  }

  .item {
    gap: 10px;
  }
  .item div {
    width: 100px;
    border-radius: 6px;
    overflow: hidden;
    height: 40px;
  }

  .item div img {
    max-width: 100%;
    max-height: 100%;
  }
  .small {
    font-size: 10px;
  }
  footer ul li a {
    border-bottom: 2px solid transparent;
    transition: var(--main-transition);
  }
  footer ul li a:hover {
    border-bottom: 2px solid var(--main-color);
  }
  .final {
    gap: 10px;
  }
}
